.navbar {
    width: 100%;
    height: 72px;
    background-color: #FFFFFF
}

.logo {
    width: 162.57px;
    height: 24px;
    top: 24px;
    left: 72px;
    margin-left: 72px;
    margin-right: 305.43px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.search {
    width: 22px;
    
    height: 22px;
    
    top: 26px;
    
    left: 554px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 14px;
}

.search_button {
    height: 19px;
    width: 242px;
    top: 28px;
    left: 590px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    color: #5C5C5C;
    margin-top: 12px;
    margin-bottom: 11px;
}

.icons {
   
    width: 360px;
   
    height: 42px;
   
    top: 16px;
    
    left: 540px;
   
    border-radius: 21px;

    color: #F2F2F2;
    

}

.create_account {
    width: 183px;
   
    height: 21px;
    
    top: 27px;
    
    left: 1161px;
    
    margin-left: 261px;
    /* margin-right: 96px; */
}

.dropdown_div{
    width: 24px;
    height: 24px;
    top: 26px;
    left: 1344px;
    margin-right: 72px;
    /* margin-top: 26px; */
    /* margin-bottom: 22px; */
}

.dropdown{
    width: 10px;
height: 5px;
/* top: 10px;
left: 7px; */
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .navbar {
      width: 100%; /* Full width for mobile screens */
    }
  
    .logo {
      width: auto; /* Adjust width for mobile screens */
      height: auto; /* Adjust height for mobile screens */
      margin: 0; /* Remove margin for mobile screens */
      top: auto; /* Reset top for mobile screens */
      left: auto; /* Reset left for mobile screens */
    }
  
    .search {
      width: 22px;
      height: 22px;
      top: auto;
      left: auto;
    }
  
    .search_button {
      width: auto;
      top: auto;
      left: auto;
    }
  
    .icons {
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      border-radius: 0;
    }
  
    .create_account {
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      margin: 0;
    }
  }